.table {
    display: flex;
    justify-content: space-evenly ;
}

img {
    width: 200px;
}

.country-item {
    width: 200px;
    align-self: center;
}

.item {
    width: 200px;
    align-self: center;
}

.table-hover {
    cursor: pointer;
}

.table-nth:nth-child(even){
    background-color: #f2f2f2;
}

.table-hover:hover {
    background-color: #90A4B0;
}

.container-list {
    overflow-y: hidden;
    overflow-x: scroll;
    min-width: 1000px;
}

.next-btn {
    cursor: pointer;
    font-weight: bolder;
    background-color: white;
    margin: 10px;
    width: 100px;
}

.prev-btn {
    cursor: pointer;
    font-weight: bolder;
    background-color: white;
    margin: 10px;
    width: 100px;
}

input {
    padding: 10px;
    margin: 10px;
}

.search-country-result {
    min-width: 100%;
    max-height: 200px;
    overflow: hidden;
    background-color: #f2f2f2;
    margin: 10px;
    padding: 10px;
}

.search-country {
    cursor: pointer;
}

.first-letter {
    background-color: blue;
    width: 50px;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 50px;
}

.detail-name-container {
    display: flex;
}

.detail-btn {
    cursor: pointer;
    font-weight: bolder;
    background-color: white;
    margin: 10px;
}